<div class="container mt-3">
  <h1 class="text-center"><%= @chat.persona %></h1>

  <div class="messages-container mb-5">
    <% @messages.each do |message| %>
    <div class="message <%= message.role %>">
    <p><%= message.content %></p>
    </div>
    <% end %>
  </div>

  <div class="mb-5 position-relative">
    <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: false, placeholder: "Votre message...", input_html: { rows: 3 } %>
    <%= f.submit "Envoyer", class: "btn btn-primary btn-lg mt-2" %>
    <% end %>
  </div>

  <div class="position-absolute bottom-0 start-50 translate-middle-x mt-5">
    <div><%= link_to "Voir mon bilan", chat_result_path(@chat), class: "btn histo-button mt-5" %></div>
    <div><%= link_to "Retourner à l'historique", chats_path, class: "btn histo-button mt-5" %></div>
    <div><%= link_to "Retourner à la Page d'accueil", root_path, class:"btn histo-button mt-3" %></div>
  </div>
</div>
