<div class="container mt-3">
  <h1 class="title text-center">🤖 Chat</h1>
  <p class="text-center subtitle">Catégorie sélectionnée : <%= @chat.persona %></p>

<div>
  <%= render "messages", messages: @chat.messages %>
</div>

<div>
  <div class="mb-3">
    <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: false, placeholder: "Votre message...", input_html: { rows: 3 } %>
    <%= f.submit "Envoyer", class: "btn btn-primary btn-lg mt-2" %>
    <% end %>
  </div>

 <div class="text-center">
    <%= simple_form_for [@chat, @result] do |f| %>
     <%= f.hidden_field :roadmap, value: "" %>
     <%= f.submit "Acceder à mon bilan", class: "btn histo-button mt-3 mb-3 fw-bold" %>
    <% end %>
 </div>
</div>

 <div class ="border-top border-black mt-3 mb-3"></div>

  <div class="bottom-container nav-bottom px-0 mx-0 d-flex">
    <%= link_to "Retourner à l'historique", chats_path, class:"btn btn-primary text-center me-5 ms-3 buttons" %>
    <%= link_to "Retourner à la page d'accueil", root_path, class:"btn btn-primary text-center ms-5 buttons me-3" %>
  </div>

</div>
